.leaflet-container {
  height: 100%;
  width: 100%;
}

.formInput {
  
  margin: 10px 0;
  width: 100%;

}

.progress-bar {

  margin: 5px 0;
  height: 5px;
  background-color: rgb(75, 75, 75);

}

.logoLink {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  z-index: 100000;
}

.logoLink img {
  width: 100px;
}

.modal {
  background-color: rgb(245, 245, 245);
  padding: 20px;
  border-radius: 30px;
  margin: 20px;
  text-align: center;
  outline: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal img {
  width: 300px;
}

.modal p {
  font-size: 1.3em;
  margin-bottom: 2em;
  margin: 0 8% 20px;
  line-height: 1.5em;
}